* {box-sizing:border-box;}
:focus {outline:none !important;} /* Focus outline fix */
html {margin:0px;}
body {
    margin:0px;
    font-family:Helvetica, Arial, sans-serif;font-weight:400;font-size:18px;
    background:#f1f1f1;color:#222;
}
header {width:100%;}
.navbar {padding-bottom:0px;background:#c1c1c1;}
.navbar-nav {margin-left:-15px;margin-right:-15px;}
.navbar-light .navbar-brand {color:#222;}
.navbar-light .navbar-toggler {box-shadow:none;border:none;}
.navbar-light .navbar-nav .nav-link {color:#222;}
.nav-item {border-top:1px dotted #999;}

.page-wrapper {width:100%;margin-top:40px;}
#contentChicken {
    margin:20px 0px;padding:20px;
    background:#fff;border:1px solid #e1e1e1;border-radius:5px;box-shadow:0 10px 20px rgba(0, 0, 0, 0.05);transition:all 0.1s ease-in;}
#contentChicken h2 {margin-bottom:20px;}

footer {position:relative;float:right;font-size:.75rem;}